body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #87CEEB; /* Sky color */
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loadingScreen {
    font-size: 2em;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
}
